<!-- extend base layout -->
{% extends "appbuilder/base.html" %}
{% block head_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lib/jquery-1.11.0.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protocol.css') }}" type="text/css"/>

{% endblock %}
{% block content %}

    <DIV id="project_title" ALIGN="center" style="width:75%; margin:0">
        <h2>
            DESCARGA DE IMÁGENES - SNAPSHOTS TCGA BRCA
        </h2>
    </DIV>
    <div id="explanation" style="margin-top: 2em; width: 75%; ">
       <div><a href="{{ url_for('DownloadTCGA.download', filename="imágenes_completas.zip") }}">Imágenes completas</a><div>
        
       <div><a href="{{ url_for('DownloadTCGA.download', filename="teselas_TCGA_no_normalizadas_cáncer.zip") }}">Teselas TCGA no normalizadas cáncer</a><div>
        
        <div><a href="{{ url_for('DownloadTCGA.download', filename="teselas_TCGA_no_normalizadas_sin_y_con_cáncer.zip") }}">Teselas TCGA no normalizadas sin y con cáncer</a><div>
        
        <div><a href="{{ url_for('DownloadTCGA.download', filename="teselas_TCGA_normalizadas_cáncer.zip") }}">Teselas TCGA normalizadas cáncer</a><div>
        
        <div><a href="{{ url_for('DownloadTCGA.download', filename="teselas_TCGA_normalizadas_sin_y_con_cáncer.zip") }}">Teselas TCGA normalizadas sin y con cáncer</a><div>
    


    </div>
{% endblock %}

